# Node modules
node_modules/

# Build output
dist/
out-tsc/
build/
.bundle/
.cache/

# Angular CLI
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.vscode/
.idea/

# Optional: Babel/Webpack compiled files
webpack/
babel/
# Angular cache
.angular/cache/

